<!DOCTYPE html>
<html>
  <head>
    <script type="text/javascript">
      window.logo = "<%= image_url('logo.jpg') %>";
      window.github = "<%= image_url('github.jpg') %>";
      window.profile_img = "<%= image_url('profile_image_logo.png') %>";
      window.dropdown_logo = "<%= image_url('dropdown_logo.jpg') %>";
    </script>
    <meta name="image" property="og:image" content="https://imgur.com/uS5ceH2.png">
    <meta name="description" property="og:description" content="Pinspiration is a Pinterest clone that allows users to create profiles and boards. Users are be able to pin images to boards and browse pins. ">
    <meta name="author" content="Anthony E Cruz">
    <title>Pinspiration</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
